.like {
  height: 40px;
  width: 40px;
  font-size: 1.65em;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      height: 80%;
      width: 80%;
      background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
  }
  
  &:hover::before {
      opacity: 1;
  }
}

.full {
  transition-duration: .25s;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
  background-color: white;
  text-align: center;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.full--menu {
  background-color: #f6f6f6;
}

.vide {
  transition-duration: .25s;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  text-align: center;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.vide--menu {
  background-color: #f6f6f6;
}

.like:hover {
  .vide {
      opacity: 0;
  }
}
