.like {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 1.65em;
  
  &__vide {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  &__full {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(200deg, $color-primary 0%, $color-secondary 60% );
    color: transparent;
    -webkit-background-clip: text;
    opacity: 0;;
    transition: transform 100ms;
    
    &:hover {
      opacity: 1;
      transform: scale(1.06);
    }
  }
}
