.image-de-fond {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.menu {
    background-color: #f6f6f6;
    margin-top: -40px;
    z-index: 1;
    position: relative;
    border-radius: 42px 42px 0 0;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 36px 35px 25px 20px;
    }

    &__titre {
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        margin: 0;
        font-size: 1.70em;
    }

    &__btnc {
        align-self: center;
    }
}