.image-de-fond {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.menu {
    background-color: #f6f6f6;
    margin-top: -40px;
    z-index: 1;
    position: relative;
    border-radius: 42px 42px 0 0;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 36px 35px 30px 20px;

        @media (min-width: 1120px) {
            max-width: 1120px;
            margin: auto; 
            margin-bottom: 30px;
        }
    }

    &__titre {
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        margin: 0;
        font-size: 1.70em;
    }

    &__btnc {
        align-self: center;
    }
}

.carte {
    padding: 0 14px;
    
    @media (min-width: 1120px) {
        max-width: 1120px;
        margin: auto; 
        margin-top: -40px;  
    }

    .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 22px;

        &__titre {
            font-weight: normal;
            font-size: 1em;
            margin: 5px 0 7px 5px;
            padding-bottom: 7px;
            align-self: flex-start;
            position: relative;

            &::after {
                content: "";
                width: 40px;
                height: 3px;
                background-color: $color-tertiary;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.items {
    display: flex;
    background-color: white;
    height: 67px;
    width: 100%;
    margin: 7px 0;
    border-radius: 15px;
    box-shadow: 0 5px 12px #e6e6e6;
    cursor: pointer;
    position: relative;
    transform: scale(0);
    animation: itemsAnim 500ms both;

    &__txt {
        align-self: center;
        white-space: nowrap;
        overflow: hidden;
        flex-grow: 1;
    

        &__titre {
            margin: 0;
            margin-bottom: 5px;
            margin-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__sous-titre {
            margin: 0;
            margin-top: 5px;
            margin-left: 10px;
            font-size: 0.95em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    
    &__prix {
        align-self: flex-end;
        margin-bottom: 11px;
        margin-right: 20px;
        font-size: 0.90em;
        padding-left: 20px;
    }

    &:hover .items__prix {
        padding-left: 10px;
        margin-right: 80px;
        transition: margin-right 500ms;
    }

    &__ok {
        min-width: 58px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        transform-origin: right 50%;
        position: absolute;
        right: 0; 
        display: none;              
        
        &__icon {
            color: white;
            font-size: 1.3em;
        }
    }

    &:hover .items__ok {
        display: flex;
        animation: okIcon 500ms both;
    }

    &:hover .items__ok__icon {
        animation: circle 500ms;
    }
}

.commander {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        @include button(0 47px);
        margin-bottom: 45px;
    }
}


@for $i from 1 through 9 {
    .delay-#{$i} {
        animation-delay: #{$i/10}s;
    }
}