@keyframes okIcon {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes itemsAnim {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes circle {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes omf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(50%);
    }
}