.header {
    padding: 22px 12px 12px 12px;
    box-shadow: 0 0 10px rgb(175, 171, 171);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    &__logo {
        position: relative;
        font-family: 'Shrikhand', cursive;
        text-align: center;
        margin: 0;
    }

    &__fleche {
        font-size: 1.40em;
        position: absolute;
        left: 22px;
        align-self: center;

        @media (min-width: 1120px) {
            left: 40px;
        }

        &__home {
            display: none;
        }
    }
}